{{define "base"}}
<html lang="en" class="h-100">

{{block "head" . }}<title>Base Website</title>{{end}}

<body class="d-flex flex-column h-100">

  {{block "loading" . }}<h1>Base Loading</h1>{{end}}
  {{block "nav" . }}<h1>Base Nav</h1>{{end}}
  {{block "content" . }}<h1>Base Footer</h1>{{end}}

</body>

</html>
{{end}}