{{define "nav"}}
<nav>
  <a href="#0" id="0" class="active"><button></button><span class="tooltip">Home</span></a>
  <a href="#1" id="1"><button></button><span class="tooltip">Skills</span></a>
  <a href="#2" id="2"><button></button><span class="tooltip">Projects</span></a>
  <a href="#3" id="3"><button></button><span class="tooltip">Contact</span></a>
</nav>
{{end}}